<!-- C:\Users\Pavlu4ini\PycharmProjects\GitHubMirrorApp\templates\index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitHub Mirror App</title>
</head>
<body>
    <h1>GitHub Mirror App</h1>
    <form action="/" method="post">
        <label for="repo_url">Enter GitHub Repository URL:</label>
        <input type="text" id="repo_url" name="repo_url" required>
        <button type="submit">Work</button>
    </form>
</body>
</html>
